<%- include('includes/head', { headTitle: 'Página Inicial'}) %>

<div class="container">
  <header class="main-header">
    <h1 class="main-header__title">
      <%= title %>
    </h1>
  </header>

  <p>
    <% if(typeof localVariable !== 'undefined') { %>
       <%= localVariable %>
    <% } else { %>
       O título não foi enviado 
    <% } %>
  </p>

  <p>
    <% numbers.forEach((num) => { %>
      <%= num %><br />
    <% }) %>
  </p>

  <main class="content"></main>
</div>

<%- include('includes/footer') %>
